@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
.HeroImage {
  background-image: url("../assets/heroimage.png");
  height: 92vh;
  background-position: center center; }
  .HeroImage__PrimaryTitle {
    padding-top: 8rem;
    font-size: 4.5rem;
    text-align: center;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }
  .HeroImage__SubTitle {
    font-size: 2.5rem;
    color: #000;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }

.NewArrival {
  display: grid;
  width: 80%;
  margin: 1rem auto 4rem auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 150px));
  grid-auto-rows: 150px;
  
}
.NewArrival__photo:hover {
  outline: 0.5rem solid #55c57a;
  transform: scale(1.25) translateY(-0.5rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 20; 
}
  .NewArrival__item {
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
    .NewArrival__item img {
      border: 1px solid #C6C0BA;
      border-radius: 5px;
      width: 65%;
      height: 100%; }

.BestSeller {
  margin: 2rem 6rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-template-rows: repeat(1, minmax(50px, 1fr)); }
  .BestSeller__item {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column; 
    padding-top: 0rem;
  }
    .BestSeller__item p {
      color: #C6C0BA; }
    .BestSeller__item img {
      border-radius: 1rem;
      border: 2px solid #000;
      width: 90%;
      height: 70%; }
    .BestSeller__title {
      opacity: 0;
    }
  .BestSeller__link {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
  .BestSeller__item:hover .BestSeller__img {
    transform: translateX((-4rem) scale(1));
    filter: blur(5px) brightness(70%);
    transition: all 0.3s ease-in; 
  }
  .BestSeller__item:hover .BestSeller__title {
    transition: all 0.3s ease-out; 
    transform: translateY(-480%);
    color:white;
    opacity: 1;
  }

.Features {
  display: grid;
  margin: 2rem 6rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 320px));
  grid-column-gap: 1rem;
  background-color: #C6C0BA;
  border-radius: 1rem; }
  .Features__Img {
    border-radius: 1rem;
    width: 65%;
    height: 75%; }
  .Features__Title--1 {
    border-radius: 1rem 0rem 0rem 1rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    background: linear-gradient(to left, #AA3A39, #2F7336); }
  .Features__Title--2 {
    border-radius: 1rem 0rem 0rem 1rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    background: linear-gradient(to left, #fcb045, #fd1d1d); }
  .Features__Title--3 {
    border-radius: 1rem 0rem 0rem 1rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    background: linear-gradient(to left, #b92b27, #1565c0); }
  .Features .product {
    display: flex;
    margin-top: 2.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }

/* 桌上型電腦 */
/* 筆電.平板 */
@media (min-width: 600px) and (max-width: 1200px) {
  html {
    font-size: 0.8rem; }
  .hero-text-1 {
    padding-top: 20rem;
    font-size: 2.5rem; }
  .hero-text-2 {
    font-size: 1.5rem; }
  .NewArrival {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); }
    .NewArrival__item img {
      width: 67%;
      height: 75%; }
  .Features {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); } }

/* 手機 */
@media (max-width: 600px) {
  html {
    font-size: 12px; }
  .hero-text-1 {
    font-size: 100rem; }
  .hero-text-2 {
    font-size: 0.85rem; }
  .Features {
    margin: 1rem 3rem; }
  .NewArrival {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr)); }
    .NewArrival__item {
      margin-top: 3rem;
    }
    .NewArrival__item img {
      width: 70%;
      height: 80%; }
  .BestSeller {
    grid-template-columns: repeat(1, minmax(100px, 1fr)); } 
  }

.Navigation {
  display: flex;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 6fr 2fr;
  border-bottom: 2px solid #000;
  font-family: inherit;
}
  .Navigation__Photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 2rem 0rem 0rem;
  }
  .Navigation__Img {
    height: 80%;
    width: 3.5rem;
    border-radius: 10px; }
  .Navigation__Navbar {
    display: flex;
    list-style: none;
    align-items: center; }
  .Navigation__NavbarItem {
    font-size: 1.5rem;
    margin: 0rem 1rem;
    cursor: pointer;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #C6C0BA 50%);
    background-size: 222%;
    transition: all .4s; }
    .Navigation__NavbarItem:hover, .Navigation__NavbarItem:active {
      background-position: 100%;
      transform: translateY(-0.2rem); }
  .Navigation__Search {
    display: flex;
    align-items: center;
    justify-content: center; }
  .Navigation__Form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%; }
  .Navigation__SearchBox {
    background-color: #fff;
    border-radius: 6px;
    height: 3rem;
    width: 100%;
    margin-right: -2.3rem; }
    .Navigation__SearchBox:focus {
      outline: none; }
    .Navigation__SearchBox:active {
      transform: translateY(2px); }
  .Navigation__Button {
    background-color: #fff;
    border: none; }
    .Navigation__Button:focus {
      outline: none; }
    .Navigation__Button:active {
      transform: translateY(2px); }
    .Navigation__Button svg {
      padding: 6px;
      width: 2rem;
      height: 2rem; }

      .nav__user-img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        margin-right: 1rem;
      }

.nav__el,
.nav__el:link,
.nav__el:visited {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
}

.navi {
  display: none; }
  .navi_checkbox {
    display: none; }
  .navi_button {
    background-color: #C6C0BA;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navi_background {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 0rem;
    left: 0rem;
    background-image: radial-gradient(#C6C0BA, #fff);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
  .navi_nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navi_list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navi_item {
    margin: 1rem;
    font-size: 1.5rem;
  }
  .navi_link:link, .navi_link:visited {
    display: inline-block;
    padding: 1rem 2rem;
    color: #000;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 70%, #fff 50%);
    background-size: 222%;
    transition: all .4s; }
    .navi_link:link span, .navi_link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navi_link:hover, .navi_link:active {
    background-position: 100%;
    color: #C6C0BA;
    transform: translateX(1rem); }
  .navi_checkbox:checked ~ .navi_background {
    transform: scale(8, 40); }
  .navi_checkbox:checked ~ .navi_nav {
    opacity: 1;
    width: 50%; }
  .navi_icon {
    position: relative;
    margin-top: 1.7rem; }
    .navi_icon, .navi_icon::before, .navi_icon::after {
      width: 2rem;
      height: 4px;
      background-color: #fff;
      display: inline-block; }
    .navi_icon::before, .navi_icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navi_icon::before {
      top: -.8rem; }
    .navi_icon::after {
      top: .8rem; }
  .navi_button:hover .navi_icon::before {
    top: -1rem; }
  .navi_button:hover .navi_icon::after {
    top: 1rem; }
  .navi_checkbox:checked + .navi_button .navi_icon {
    background-color: transparent; }
  .navi_checkbox:checked + .navi_button .navi_icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navi_checkbox:checked + .navi_button .navi_icon::after {
    top: 0;
    transform: rotate(-135deg); }

@media (max-width: 600px) {
  .navi {
    display: block; }
  .Navigation {
    display: none; }
  }

.Footer {
  display: grid;
  padding: 1.5rem 6rem;
  grid-template-columns: repeat(1, minmax(50px, 1fr));
  grid-template-rows: repeat(4, minmax(50, 1fr));
  background-color: #C6C0BA; }
  .Footer__Par {
    text-align: center; }
  .Footer__Img {
    padding-top: 2rem;
    width: 10%;
    border-radius: 5px; }
  .Footer__Hr {
    margin-top: 2rem;
    border: 1px solid black; }
  .Footer__Logo {
    display: flex;
    align-items: center;
    justify-content: center; }
  .Footer__Nav {
    margin: 1rem auto;
    list-style: none;
    display: flex;
    justify-content: center; }
    .Footer__Nav li {
      margin: auto 2.5rem; }
  .Footer__SocialMedia {
    margin: 2rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center; }

@media (max-width: 600px) {
  .Footer__Nav li {
    margin: 0rem 1rem; } }

.user-block {
  background-color: #fff;
  border-top: 2px solid #292E49; }

.user-view {
  width: 70%;
  margin: auto;
  display: grid;
  padding: 2rem 0rem;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: 20% 80%; }
  .user-view__title {
    font-size: 1.2rem;
    margin-bottom: 1rem; }
  .user-view__menu {
    background: #1e130c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d3d1, #bab6b1, #c0bdb8, #c6c2c0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 1rem 0rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border-top: 3px solid #292E49;
    border-left: 3px solid #292E49;
    border-bottom: 3px solid #292E49;
  }
  .user-view__content {
    font-size: 2rem;
    background-color: #fff;
    margin: 1rem 1rem 1rem 0rem;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #292E49;
    border-right: 3px solid #292E49;
    border-bottom: 3px solid #292E49; }
  .user-view__side-nav {
    list-style: none;
  }
    .user-view__side-nav a {
      text-decoration: none; }
  .user-view__form-container {
    width: 75%;
    margin-top: 2.5rem; }
    .user-view__form-container:is(:last-child) {
      margin-bottom: 3rem; }
  .user-view__link {
    font-size: 1.5rem;
    font-weight: 10;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .user-view__link-item {
    margin-top: 1rem; }

.w-5 {
  background-position: center center;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem 1rem 0rem 1rem; }

.user-view__side-nav {
  margin: 2rem 0rem; }
  .user-view__side-nav li:hover {
    transition: all 0.5s;
    transform: translateX(5px); }

.line {
  margin: 2rem 0rem 1rem 0rem;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0; }

  .form__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .form__upload:focus + label {
    outline: 3px solid #55c57a;
    outline-offset: 3px;
  }
  
  .form__upload + label {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;

    padding: 2px;
    transition: all 0.2s;
    cursor: pointer;
  }
  .form__upload + label:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
  

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .login--form {
    width: 50rem;
    background-color: #fff;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    margin: 3rem 0rem;
    padding: 5rem 7rem;
    border-radius: 5px; }

.form__input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  border-radius: 4px;
  box-sizing: border-box; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #bbb; }

.form__group--submit {
  display: flex;
  justify-content: end; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__submit {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #bbb;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.form__label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem; }

.form__title {
  text-align: center; }

.form__upload {
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  margin-left: 1rem;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff; }
  .form__upload:hover {
    cursor: pointer; }

.ProductPage {
  display: grid;
  width: 65%;
  margin: 6rem auto 0rem auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: 150px; }
  .ProductPage__item {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column; }
    .ProductPage__item img {
      width: 55%;
      height: 90%;
      border: 2px solid #000;
      box-sizing: 5px;
      border-radius: 1rem; }
  .ProductPage__content {
    display: flex;
    flex-direction: column;
    justify-content: start; }
    .ProductPage__content__price {
      margin-top: 1rem;
      font-size: 2rem; }
    .ProductPage__content__describe {
      margin-top: 2rem;
      font-size: 1.5rem; }
    .ProductPage__content__description {
      font-size: 1.5rem; }
    .ProductPage__content__buy {
      margin-top: 1rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

html {
  font-family: 'Noto Sans TC', sans-serif; }

body {
  box-sizing: border-box;
  color: #000;
  line-height: 1.7; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.Heading-primary-main {
  padding-top: 5rem;
  text-align: center; }

.btn,
.btn:link,
.btn:visited {
  font-size: 1.3rem;
  padding: 1.4rem 2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer; }

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.btn:focus {
  outline: none;
  background-color: #2e864b; }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--white::after {
  background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }

.btn--green::after {
  background-color: #55c57a; }

.btn-small,
.btn-small:link,
.btn-small:visited {
  background-color: #55c57a;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.25rem 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none; }

.btn-small:hover {
  background-color: #7dd56f; }

  .btn-detail,
  .btn-detail:link,
  .btn-detail:visited {
    background-color: #55c57a;
    color: #fff;
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    border: none; }
  
  .btn-detail:hover {
    background-color: #7dd56f; }
  
.btn-text:link,
.btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px); }

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.btn-text:focus {
  outline: none;
  outline: 3px solid #55c57a;
  outline-offset: 3px; }


  .alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 0.5rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--error {
    background-color: #eb4d4b;
  }
  
a {
  text-decoration: none;
  color:black
}

.form__user-photo {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}


@media (max-width: 600px) {
  .user-view{
    width: 100%;
    margin: auto;
    display: grid;
    padding: 4rem 0rem 2rem 0rem;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: 35% 65%;
  }
}

@media (max-width: 600px) {
  .user-view__link-item{
    display: flex;
    justify-content: start;
  }
  .user-view__link {
    font-size: 1rem;
  }
}

.center {
  text-align: center;
}

.SpecialPage {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  margin: 2rem auto;
  border: 1px solid #000;
  border-radius: 5px; }
  .SpecialPage__contanier {
    display: flex;
    justify-content: center; }
  .SpecialPage__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .SpecialPage__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem; }
  .SpecialPage__img {
    border: 1px solid #000;
    border-radius: 8px;
    width: 65%;
    height: 55%; }
  .SpecialPage__title {
    font-size: 1.5rem; }
  .SpecialPage__detail {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px; }

.SignupPage {
      display: flex;
      justify-content: center;
      align-items: center; }
      .SignupPage__container {
        width: 35%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        border: 3px solid #000;
        border-radius: 5px;
        background-color: #fff; }
      .SignupPage__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem auto; }
      .SignupPage__input {
        text-decoration: none;
        border-radius: 5px;
        list-style: none;
        font-size: 1.5rem;
        padding: 1rem 0rem 1rem 0rem; }
      .SignupPage__group {
        margin: 0.5rem auto;
        display: flex;
        flex-direction: column; }
        .forgot-btn{
          margin: 0rem 2rem;
          background-color: #e0e0e0;
        }

        .Story {
          display: flex;
          justify-content: center; }
          .Story__page {
            border-radius: 5px;
            width: 50%;
            display: grid;
            grid-template-columns: 28% 72%;
            grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
            height: 50vh;
            margin: 2rem 0rem;
            background-color: #C6C0BA; }
          .Story__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px; }
          .Story__img {
            display: block;
            height: 50%;
            width: 100%; }
          .Story__header {
            margin: 1rem 0rem; }
          .Story__title {
            margin: 0rem; }
          .Story__content {
            font-size: 1.4rem;
            margin: 1rem 2rem 1rem 2rem; }
        
        /* 筆電.平板 */
        @media (min-width: 600px) and (max-width: 1100px) {
          .Story {
            height: 60vh; }
            .Story__img {
              display: block;
              height: 50%;
              width: 85%; }
            .Story__page {
              width: 80%;
              height: 35vh;
              grid-template-columns: 39% 61%; }
            .Story__right {
              font-size: 1.3rem;
              display: flex;
              flex-direction: column;
              justify-content: center; } }
        
        @media (max-width: 600px) {
          .Story {
            font-size: 5px;
            margin: 0rem 0rem;
            padding-bottom: 7rem; }
            .Story__page {
              width: 80%; }
            .Story__right {
              font-size: 5px;
              display: flex;
              flex-direction: column;
              justify-content: center; }
            .Story__left {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center; }
            .Story__img {
              display: block;
              height: 35%;
              width: 100%; } }
        
        @media (max-width: 400px) {
          .Story__page {
            height: 63vh; } }
        
        @media (min-height: 700px) and (max-height: 799px) {
          .Story__page {
            height: 65vh; } }
        
        @media (min-height: 800px) and (max-height: 900px) {
          .Story__page {
            height: 50vh; } }